@model IEnumerable<PI_Postulacion_Oferta_Trabajos.Controllers.UserViewModel>

@{
    ViewData["Title"] = "Usuarios";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Usuario.UsuNombre)</th>
            <th>@Html.DisplayNameFor(model => model.First().Usuario.Email)</th>
            <th>@Html.DisplayNameFor(model => model.First().Roles)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Usuario.UsuNombre</td>
                <td>@item.Usuario.Email</td>
                <td>@item.Roles</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Usuario.Id">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.Usuario.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Usuario.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
