@model IEnumerable<PI_Postulacion_Oferta_Trabajos.Models.PuestoLaboral>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PulNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PulNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arl.ArlId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PulId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PulId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PulId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
