@model PI_Postulacion_Oferta_Trabajos.Models.UsuarioEducacion

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UsuarioEducacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UseTipoFormacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UseTipoFormacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UseDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UseDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UseDescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UseDescripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usu.UsuId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UseId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
