@model PI_Postulacion_Oferta_Trabajos.Models.UsuarioEducacion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UsuarioEducacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UseTipoFormacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UseTipoFormacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UseDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UseDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UseDescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UseDescripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usu.UsuId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
