@model IEnumerable<PI_Postulacion_Oferta_Trabajos.Models.UsuarioEducacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UseTipoFormacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UseDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UseDescripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UseTipoFormacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UseDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UseDescripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usu.UsuId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
