@model PI_Postulacion_Oferta_Trabajos.Models.Empresa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Empresa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpRuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpRuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpRazonSocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpRazonSocial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpDireccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpDireccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpCorreo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpCorreo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpTelefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpTelefono)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EmpId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
