@model IEnumerable<PI_Postulacion_Oferta_Trabajos.Models.Empresa>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpRuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpRazonSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpDireccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpCorreo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpTelefono)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpRuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpRazonSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpDireccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpCorreo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpTelefono)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmpId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmpId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmpId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
