@model IEnumerable<PI_Postulacion_Oferta_Trabajos.Models.Empresa>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpNombreEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpEmailRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpEmailAcceso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpRuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpRazonSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpCiudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpTelefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpNumeroTrabajadores)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpVacantesAnuales)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aep)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpNombreEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpEmailRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpEmailAcceso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpRuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpRazonSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpCiudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpTelefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpNumeroTrabajadores)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpVacantesAnuales)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aep.AepId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmpId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmpId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmpId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
