@model PI_Postulacion_Oferta_Trabajos.Models.UsuarioExperienciaLaboral

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UsuarioExperienciaLaboral</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsxEmpresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsxEmpresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsxArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsxArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsxPuesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsxPuesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsxFechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsxFechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsxFechaFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsxFechaFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsxNivelExperiencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsxNivelExperiencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usu.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UsxId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
