@model PI_Postulacion_Oferta_Trabajos.Models.Oferta

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Oferta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfeTitulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfeTitulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfeDescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfeDescripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfeTipoContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfeTipoContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfeSalario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfeSalario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfeFechaPublicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfeFechaPublicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfeCantidadVacantes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfeCantidadVacantes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfeTiempoExperiencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfeTiempoExperiencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfeEducacionMinima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfeEducacionMinima)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfeLicencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfeLicencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfeDisponibilidadViajar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfeDisponibilidadViajar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfeDisponibilidadCambioResidencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfeDisponibilidadCambioResidencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfeDiscapacidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfeDiscapacidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfeEdadMinima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfeEdadMinima)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfeAreaLaboral)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfeAreaLaboral)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Arl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Arl.ArlId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cid.CidId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emp.EmpId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ofm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ofm.OfmId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pul)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pul.PulId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OfeId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
