@model IEnumerable<PI_Postulacion_Oferta_Trabajos.Models.Oferta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OfeTitulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfeDescripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfeTipoContrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfeSalario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfeFechaPublicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfeCantidadVacantes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfeTiempoExperiencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfeEducacionMinima)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfeLicencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfeDisponibilidadViajar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfeDisponibilidadCambioResidencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfeDiscapacidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfeEdadMinima)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfeAreaLaboral)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ofm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pul)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OfeTitulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfeDescripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfeTipoContrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfeSalario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfeFechaPublicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfeCantidadVacantes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfeTiempoExperiencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfeEducacionMinima)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfeLicencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfeDisponibilidadViajar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfeDisponibilidadCambioResidencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfeDiscapacidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfeEdadMinima)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfeAreaLaboral)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arl.ArlId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cid.CidId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emp.EmpId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ofm.OfmId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pul.PulId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OfeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OfeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OfeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
