@model IEnumerable<PI_Postulacion_Oferta_Trabajos.Models.UsuarioPerfil>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UspAspiracionLarboral)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UspPreferenciaSalarial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UspHojaVida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UspDiscapacidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UspAspiracionLarboral)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UspPreferenciaSalarial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UspHojaVida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UspDiscapacidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usu.UsuId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UspId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UspId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UspId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
