@model IEnumerable<PI_Postulacion_Oferta_Trabajos.Models.UsuarioEducacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.USE_TIPO_FORMACION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.USE_DOCUMENTO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.USE_TITULO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.USE_AREA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.USE_INSTITUCION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.USE_ESTADO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.USE_FECHAI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.USE_FECHAF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.USE_TIPO_FORMACION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.USE_DOCUMENTO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.USE_TITULO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.USE_AREA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.USE_INSTITUCION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.USE_ESTADO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.USE_FECHAI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.USE_FECHAF)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usu.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
