@model PI_Postulacion_Oferta_Trabajos.Models.Administrador

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Administrador</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdmNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdmNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdmApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdmApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdmCorreo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdmCorreo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdmPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdmPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdmDireccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdmDireccion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AdmId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
