@model PI_Postulacion_Oferta_Trabajos.Models.UsuarioExperienciaLaboral

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UsuarioExperienciaLaboral</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsxEmpresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsxEmpresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsxArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsxArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsxPuesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsxPuesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsxFechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsxFechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsxFechaFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsxFechaFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsxNivelExperiencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsxNivelExperiencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usu.UsuId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UsxId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
